
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  background-color: lightgray;
}
ul{
  margin: 0;
  padding: 0;
}
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
header{
  background: #35424a;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 70px;
  border-bottom: orangered 3px solid;
}
header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #logo{
  float: left;
}
header #logo h1{
  margin:0;
}
header nav{
  float:right;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .highlight{
  color:#e8491d;
  font-weight: bold;
}
header a:hover{
  color:#cccccc;
  font-size: bold;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/*  hover effect  */
.fa:hover {
  opacity: 0.7;
}

/*  specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* instagram */
.fa-instagram {
  background: red;
  color: white;
}

#sec{
  width: 100%;
  height: 60vh;
  background:url('../CSS/../Images/charminar0.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  color:white;
}
#sec h1{
  margin-top: 100px;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow:2px 2px 2px black;
}
#sec p{
  font-size: 20px;
  text-shadow:2px 2px 2px black;
}
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding:15px;
}
#boxes .box img{
  width:90px;
}
footer{
  padding:20px;
  margin-top: 20px;
  color:white;
  background-color: #e8491d;
  text-align: center;
}
.center {
  text-align: center;
 }

/*booking styles*/
.book{
  background-color: lightgray;

}
.input-group{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1%;
  margin-left:1% ;
    
}
.input-label{
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color:black;
  font-weight: bold;
  justify-content: space-around;
}
.input, .options{
  width:60%;
  min-height: 1rem;
  padding:0.5em;
  font-weight: bold;
  color: #a5a5a5;
  letter-spacing: 2px;
  font-family: "open Sans", sans-serif;
  resize:none;
}
.btn-orange{
  background-color: lightseagreen;
  margin-bottom: 1.5rem;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 30px;
  width: 100px;

}
.btn-orange:hover{
  background-color: darkcyan;
}
#grid-item .checked {
  color:orange
}
.head-hotel{
  text-align: center;
  margin-bottom: 5rem;
}
.heading{
  display: block;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
.sub-heading{
  font-size: 1.7rem;
  font-family: 'courgette',cursive;
  font-weight: 300;
  color: #a5a5a5;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  grid-gap: 2.5rem;
  
}
.grid-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.hotel-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hotel-name{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.hotel-price{
  font-size: 1rem;
}

