*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: lightgray;
  }
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #35424a;
    border-bottom: orangered 3px solid;
}
  
ul.topnav li {float: left;}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
  
ul.topnav li a:hover{
    color: #111;
}
  
ul.topnav li.right {
    float: right;
}
@media screen and (max-width: 652px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

@media screen and (max-width: 1600px) {
      ul.topnav li a{
      font-size: large;
    }
}
.container{
    width:100%;
    background-color: lightgray;
    overflow: hidden;
}
h1{
    text-align:center;
    max-width:100%;
    color:whitesmoke;
}

h2{
    text-align:center;
    color:olive;

}

.text{
  margin-left:1%;
  margin-right:1%;
}
main{
    display:block;
    margin-top:0.5rem;
    padding:1rem;
    border-radius:1rem;
    background-color:#FFFFFF;
    box-shadow:0.5rem 0.5rem 0.5rem #404040;
 }

head{
    margin-top:0.5rem;
    color:darkcyan;
    text-align:center;
}

.gallery{
    margin:5px;
    float:left;
    width:390px;
    border:1px solid white;
    margin-left: 1.6%;
}
.gallery img{
    width:100%;
    height:50vh;
}
.desc{
    padding:20px;
    
} 
.btn{
    float: right;
    background-color:orangered;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    width: 80px;
  
  }
.btn:hover{
    background-color: darkcyan;
  }
footer{
    padding-top:10;
    margin-top: 20px;
    color:white;
    background-color: red;
    text-align: center;
} 
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
    
.fa:hover {
  opacity: 0.7;
}
    
.fa-facebook {
  color: white;
}
      
.fa-twitter {
  color: white;
}
.fa-instagram {
  color: white;
}
.footer-notes{
  margin: 0;
}

@media only screen and (min-width: 481px){
  /* tablet layout */
  img{
         width:45%;
  }
}

@media only screen and (min-width:769px){
  /* desktop layout */
  img{
         width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

      